body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    background-image: url('Estrela\ de\ David\ 16-9.png');
    background-size: cover; /* Redimensiona a imagem para cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat;
   
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    min-height: 100vh; /* Define a altura mínima da área de conteúdo para ocupar toda a altura da tela */
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'David Libre', sans-serif; /* Aplica a fonte David Libre */
    font-size: 36px; /* Tamanho da fonte ajustado */
    margin-bottom: 20px;
    color: #fff; /* Cor dourada */
    text-shadow: -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px 1px 0 #000,
                 1px 1px 0 #000; /* Adiciona um contorno dourado ao redor das letras */
}


.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a {
    display: block;
    font-size: bold;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adicionamos a propriedade box-shadow na transição */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.links a:hover {
    transform: scale(1.05); /* Aumenta o tamanho do link em 5% */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
