@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #336699;
}

.youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.youtube iframe {
    width: 560px;
    height: 315px;
}

.youtube-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    color: #f8f8f8
}

.youtube__link a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    color: white;
    text-decoration: none;
    margin: 0px 0px 50px;
    font-size: 20px;

}

.youtube__link a:hover {
   text-decoration: underline;

}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    text-align: center;
    min-height: 100vh;
    /* Define a altura mínima da área de conteúdo para ocupar toda a altura da tela */
    display: flex;
    flex-direction: column;

}

.title {
    font-family: 'Arial', sans-serif;
    /* Usando a fonte Arial como exemplo */
    font-size: 24px;
    /* Tamanho da fonte ajustado */
    margin-bottom: 20px;
    color: #333;
    /* Cor do texto */
    text-shadow: none;
    /* Removendo o efeito de sombra no texto */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Borda arredondada */
    
}

a {
    text-decoration: none;
}


.description {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #0f1111;
    line-height: 24px !important;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
    border-bottom: none;
    text-decoration: none;
    
}

.description:hover {
    color: #c7511f;

}

.color_secondary {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #565959;
    line-height: 20px !important;

}

.capa {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #007185;
    font-weight: bold;
    cursor: pointer;
}

.capa:hover {
    color: #c7511f;
}

.price {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 24px;
    display: block;
    text-align: left;
    color: #0f1111;
    line-height: 24px;
    font-weight: 700;
    

}

.currency {
    position: absolute;
    font-size: 12px;
    top: -.2em;
}

.integer {
    padding-left: 0.8em;
}


.decimal {
    position: absolute;
    font-size: 12px;
    top: -.2em;
    padding-left: 0.1em;
}

.promo {
    font-size: 14px;
    color: #565959;
    line-height: 20px !important;
    font-weight: 400;
}



.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;

}

.product {
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 20px;

}

.product img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.01);
}

.rabinosproducts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.ravproduct {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;

}

.ravproduct img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.ravproduct img:hover {
    transform: scale(1.01);
}

button {
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    fill: #ffffff;
    color: #ffffff;
    background-color: #61CE7000;
    border-style: none;
    border-radius: 15px 15px 15px 15px;
    padding: 15px 30px;
    background-color: linear-gradient(112deg, #03D331 0%, #00BB29 100%);
    background-image: linear-gradient(112deg, rgb(3, 211, 49) 0%, rgb(0, 187, 41) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    box-shadow: 0px 15px 61px 0px #03D331;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 50px;

}

button:hover {
    transform: scale(1.05);

}

.carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slides {
    display: flex;
    /* Para fazer as imagens ficarem lado a lado */
}

.slide {
    flex: 0 0 auto;
    /* Evita que as imagens sejam redimensionadas */
    width: 100%;
    /* Define a largura máxima de cada slide */
    height: auto;
    /* Altura automática para manter a proporção */
}

.slide img {
    width: 100%;
    /* Para garantir que as imagens ocupem todo o espaço disponível */
    height: auto;
    /* Altura automática para manter a proporção */
    object-fit: cover;
}



footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: auto; /* Adicionando margem superior automática para empurrar o footer para a parte inferior da página */
}
